* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  color: white;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.containers_container {
  background-color: rgb(19, 19, 19);
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 920px;
}
.header {
  display: flex;
  flex: content;
  margin-bottom: 20px;
  position: relative;
}
.title {
  flex: auto;
  margin-right: 20px;
  text-align: center;
}

.button {
  align-self: flex-end;
  border: solid rgb(19, 19, 19);
  border-bottom: solid white;
  cursor: pointer;
  display: inline-block;
  flex: content;
  padding: 5px 10px;
  z-index: 1;
}
.button:hover,
.active_button {
  border: solid white;
  border-bottom: solid rgb(39, 39, 39);
  border-radius: 4px 4px 0 0;
}
.game_info {
  flex: content;
  margin-bottom: 20px;
  position: relative;
}
.flags {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
.hint {
  background-color: rgb(19, 19, 19);
  border: solid 2px rgb(39, 39, 39);
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.hint:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}
.hover_text {
  border: solid rgb(39, 39, 39) 3px;
  border-radius: 4px;
  cursor: initial;
  display: none;
  padding: 5px 10px;
  position: absolute;
  right: 90px;
  top: -3px;
  width: 200px;
}
.value {
  border-bottom: solid rgb(39, 39, 39);
  display: inline-block;
  padding: 5px;
}
.game_container {
  flex: auto;
  position: relative;
}
.game_box {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: -8px;
  top: 0;
}
.game_content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.mine {
  background-color: rgb(168, 168, 168);
  color: black;
  height: 40px;
  line-height: 40px;
  margin: 2px;
  text-align: center;
  width: 40px;
}
.mine:hover,
.checked {
  background-color: rgb(224, 224, 224);
}
.bomb,
.bomb:hover {
  background-color: rgb(231, 39, 39);
}
.modal_background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal {
  align-items: center;
  background-color: rgb(19, 19, 19);
  border: solid rgb(39, 39, 39);
  color: white;
  display: none;
  height: 350px;
  justify-content: center;
  position: relative;
  width: 300px;
  z-index: 1;
}
.close_modal {
  border: solid rgb(39, 39, 39);
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.close_modal:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}
.settings {
  padding: 30px;
  text-align: center;
}
.settings > label {
  display: block;
  margin: 0 auto 30px;
  padding: 10px;
}
.settings > div.btn {
  background-color: rgb(19, 19, 19);
  border: solid rgb(39, 39, 39);
  color: white;
  padding: 5px 10px;
}
.settings > div.btn:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}
.hint_box {
  background-color: rgb(26, 26, 26);
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 8px 1px rgb(19, 19, 19);
  color: white;
  display: none;
  left: 50vw;
  position: fixed;
  text-align: center;
  top: 10vh;
  width: 200px;
  z-index: 2;
}
.draggable_div,
.close_hint {
  border: solid 1px rgb(160, 160, 160);
  position: absolute;
  top: -1px;
}
.draggable_div {
  background-color: rgb(19, 19, 19);
  border-width: 1px;
  cursor: move;
  height: 55px;
  left: -1px;
  line-height: 55px;
  width: 161px;
  z-index: 3;
}
.close_hint {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  right: -1px;
  width: 40px;
}
.close_hint:hover {
  background-color: rgb(19, 19, 19);
}
.hint_text {
  font-size: 18px;
  margin: 65px auto 10px;
}
.hover_text.animate {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: block;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game_box::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.game_box::-webkit-scrollbar-track {
  background: rgb(39, 39, 39);
}

.game_box::-webkit-scrollbar-thumb {
  background: #888;
}

.game_box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.game_content.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result_background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.result {
  background-color: rgb(19, 19, 19);
  border: solid rgb(39, 39, 39);
  color: white;
  padding: 70px 70px 40px;
  text-align: center;
}
.result > * {
  margin-bottom: 30px;
}
.result-button {
  background-color: rgb(19, 19, 19);
  border: solid rgb(39, 39, 39);
  color: white;
  padding: 5px 10px;
}
.result-button:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 4px;
}
